.carousel {
    overflow: hidden;
    margin-block: 4rem 2rem;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    justify-content: center;
    gap: 3rem;
    /* background-color: green; */
    color: black;
    margin-bottom: 50px;
}
.carousel-item img {
    width: 400px;
}
.carousel-item .portfolio-text {
    /* border: 1px solid pink; */
    max-width: 500px;

    word-break: break-word;
    white-space: normal;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: #2e4674;
    color: white;
}

.btn-prev {
    position: absolute;
    bottom: 47%;
    left: 0;

    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.btn-next {
    position: absolute;
    bottom: 47%;
    right: 0;

    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.btn-prev:hover, .btn-next:hover {
    background-color: transparent;
    color: #2e4674;
}

.btn-dots {
    background-color: #7BA3ED;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    margin: 0;
    padding: 0;
}