.carousel {
    overflow: hidden;
    margin-block: 2rem;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    gap: 3rem;
    /* height: 200px; */
    background-color: green;
    color: black;
}
.carousel-item img {
    width: 400px;
}
.carousel-item .portfolio-text {
    border: 1px solid pink;
    max-width: 500px;

    word-break: break-word;
    white-space: normal;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: green;
    color: white;
}