
:root {
    --clr-main: #7BA3ED;
    --clr-hover-main: #427fef;
    --bg: white;
    --bg-second: white;
    --clr-text: rgb(42, 42, 42);
    --box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

/* ------------------------------dark theme--------------------------------- */
[data-theme="dark"] {
    --bg: rgb(42, 42, 42);
    --bg-second: rgb(42, 42, 42);
    --clr-text: white;
    --box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background-color: var(--bg);
    color: var(--clr-text);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--clr-text);
}
p {
    line-height: 22px;
}
button {
    
    background-color: var(--clr-main);
    color: var(--bg);
    border: 2px solid var(--clr-main);
    border-radius: 5px;
    padding: .8rem 3.5rem;
    font-size: large;
    
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s ease-in;
}
button:hover {
    background-color: var(--bg);
    border: 2px solid var(--clr-main);
    color: var(--clr-main);
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}
.section {
    padding: 4rem 0 1rem;
    text-align: center;
}
.section-subtitle {
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.blue {
    color: var(--clr-main);
}


/* ------------------------------dark theme button--------------------------------- */
.checkbox {
    position: relative;
    color: var(--clr-text);
    transition: all 0.2s ease-in;
}
.checkbox:hover{
    color: var(--clr-main);
    transition: all 0.2s ease-in;
}
input[type="checkbox"] {
    position: absolute;
    width: 40px;
    height: 40px;
    appearance: none;
    outline: none;
}
input[type="checkbox"]:hover {
    cursor: pointer;
}
[data-theme="dark"] .sun,
[data-theme="light"] .moon {
    display: block;
}
[data-theme="dark"] .moon,
[data-theme="light"] .sun {
    display: none;
}
.sun {
    display: none;
}


/* ------------------------------scroll button--------------------------------- */
.btn-scroll {
    position: fixed;
    right: 40px;
    bottom: 80px;
    color: var(--clr-main);
    transition: .3s;
    background-color: var(--bg);
    border-radius: .5rem;
    transition: all .2s ease-in;
}
.btn-scroll:hover {
    color: var(--clr-hover-main);
    cursor: pointer;
}


/* ------------------------------navbar--------------------------------- */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}
.navbar a {
    padding: .5rem 1rem;
    margin: 0 1rem;
    text-decoration: none;
    color: var(--clr-text);
    transition: all 0.2s ease-in;
}
.navbar a:hover {
    color: var(--clr-main);
}
.nav-icons {
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-mobile {
    display: none;
    background-color: var(--bg);
}
.menu-icons {
    display: flex;
    align-items: center;
}
.language-option {
    padding-inline: 1rem;
}
.language-option:hover {
    cursor: pointer;
}
.language-option img {
    width: 25px;
    height: 25px;
}

/* for medium devices */
@media screen and (max-width: 1024px) {
    .navbar a {
        margin: 0;
    }
    .nav-icons {
        padding-left: 0rem;
    }
}

/* for small devices */
@media screen and (max-width: 700px) {
    .navbar {
        display: none;
    }
    .navbar-mobile {
        display: block;
    }
    .nav-menu {
        background-color: var(--bg-second);
        box-shadow: var(--box-shadow);
        width: 100%;

        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-show {
        padding: 1rem;
        font-size: larger;
        color: var(--clr-text);
    }
    .btn-show:hover {
        color: var(--clr-main);
        cursor: pointer;
    }
    .nav-links {
        background-color: var(--bg-second);
        box-shadow: var(--box-shadow);
        width: 100%;
        height: fit-content;
        padding: 3rem;

        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        position: fixed;
        bottom: 50px;
        left: 0;
        z-index: 3;
    }
    .nav-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: .5rem;
        text-align: center;
    }
    .nav-links a:hover {
        color: var(--clr-main);
    }
    .show-menu {
        display: none;
    }
}


/* ------------------------------home--------------------------------- */
.social-icons {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.social-icon {
    font-size: 1.5rem;
    transition: all .2s ease-in;
}
.social-icon:hover {
    color: var(--clr-main);
}

.home {
    height: 90vh;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: .5fr 3fr;

    padding-top: 3.5rem;
    align-items: center;
    margin-bottom: 4rem;
}
.home-text {
    grid-column: 1/3;
}
.home p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.scroll-text {
    display: none;
    transition: all .2s ease-in;
}
.home-img,
.about-img {
    max-width: 300px;
}
.mask {
    mask-image: url('./assets/mask-3.png');
    mask-size: contain;
    mask-position: top;
    mask-repeat: no-repeat;

    -webkit-mask-image: url('./assets/mask-3.png');
    -webkit-mask-repeat: no-repeat;
}

/* for small devices */
@media screen and (max-width: 350px) {
    h1 {
        font-size: x-large;
    }
}
/* for medium devices */
@media screen and (min-width: 700px) {
    h1 {
        font-size: xx-large;
    }
    .home {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home-text {
        grid-column: initial;
    }
    .home-img {
        order: 1;
        justify-self: center;
        max-width: 500px;
        margin-bottom: 5rem;
    }
    .scroll-text {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 2rem;
    }
    .scroll-text:hover {
        transform: translateY(.5rem);
    }
}
/* for big devices */
@media screen and (min-width: 1024px) {
    .social-icons {
        padding-right: 6rem;
    }
    h1 {
        font-size: 40px;
    }
}


/* ------------------------------about--------------------------------- */
.about-img {
    max-width: 300px;
    align-self: center;
    justify-self: center;
}
.about-text {
    align-self: center;
}
.about-desc {
    margin-bottom: 2.5rem;
}
.number-display {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 2.5rem;
}

/* for small devices */
@media screen and (max-width: 350px) {
    .number-display p {
        font-size: small;
    }
}
/* for medium devices */
@media screen and (min-width: 568px) {
    .about .grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: start;
    }
    .number-display {
        text-align: center;
    }
    .about-text {
        max-width: 500px;
    }
    .about-img {
        max-width: 500px;
    }
}


/* ------------------------------portfolio--------------------------------- */
.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 0 auto;
}
.portfolio-card {
    border-radius: .5rem;
}
.portfolio-card img {
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.portfolio-text {
    text-align: start;
    padding-inline: 1rem;
}
.portfolio-text p {
    padding-bottom: 1rem;
}
.knowledge-info {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
}
.knowledge-patch {
    background-color: var(--clr-main);
    color: var(--bg);
    padding: 5px 10px;
    border-radius: .3rem;
    transition: all .2s ease-in;
}
.knowledge-patch:hover {
    background-color: var(--clr-hover-main);
    cursor: default;
}

/* @media screen and (min-width: 568px) { */
@media screen and (min-width: 700px) {
    .portfolio-wrapper {
        grid-template-columns: 1fr 1fr;
        max-width: 1300px;
    }
}


/* ------------------------------skills--------------------------------- */
.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.skills-wrapper img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

@media screen and (min-width: 1000px) {
    #kunskaper {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .skills-wrapper {
        gap: 5rem;
    }
}

/* ------------------------------footer--------------------------------- */
.footer {
    margin-block: 5rem;
    border-top: 2px solid var(--clr-main);
    padding-top: 2rem;
    text-align: left;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    margin-top: 2rem;
}
.footer-right-section a {
    padding: .5rem;
    transition: all .2s ease-in;
}
.footer-right-section a:hover {
    color: var(--clr-main);
}

/* for small devices */
@media screen and (max-width: 568px) {
    .contact-info {
        align-items: start;
        flex-direction: column;
        gap: 1rem;
    }
}
/* for big devices */
@media screen and (min-width: 1024px) {
    .footer {
        padding-top: 5rem;
        grid-template-columns: 1fr 400px .5fr;
        align-items: center;
        gap: 0;
        text-align: center;
    }
    .footer-center-section {
        text-align: start;
    }
    .footer-right-section {
        display: grid;
    }
}

/* FOOTERS COPY MESSAGE */
.btn-copy {
    padding: .5rem 0;
    position: relative;
    display: inline-block;
}
.btn-copy:hover {
    cursor: pointer;
}
.hover-btn-msg {
    display: none;
    position: absolute;
    background-color: var(--clr-main);
    bottom: -2rem;
    right: -4rem;
    padding: .2rem .5rem;
    border-radius: .2rem;
    color: var(--bg);
}
.hover-btn-msg:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid var(--clr-main);
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--clr-main);
    border-top: 5px solid transparent;
    left: 10px;
    top: -10px;
}
.btn-copy:hover .hover-btn-msg {
    display: block;

}