
:root {
    --clr-blue: #7BA3ED;
    --bg: white;
}

/* variables dark theme */
[data-theme="dark"] {
    --clr-blue: pink;
    --bg: rgb(33, 33, 33);
}
.checkbox {
    position: relative;
}
input[type="checkbox"] {
    position: absolute;
    width: 40px;
    height: 40px;
    appearance: none;
    outline: none;
}
.checkbox:hover .sun,
.checkbox:hover .moon {
    color: var(--clr-blue);
}

[data-theme="dark"] .sun,
[data-theme="light"] .moon {
    display: none;
}
[data-theme="dark"] .moon,
[data-theme="light"] .sun {
    display: block;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background-color: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
}





a {
    text-decoration: none;
    color: black;
    transition: .3s;
}
h1 {
    font-size: x-large;
}
p {
    line-height: 22px;
    color: rgb(42, 42, 42);
}
button {
    padding: .8rem 3.5rem;
    font-size: large;

    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr-blue);
    border: 2px solid var(--clr-blue);
    color: white;

    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .3s;
}
button:hover {
    background-color: white;
    border: 2px solid var(--clr-blue);
    color: var(--clr-blue);
}
.blue {
    color: var(--clr-blue);
}
img {
    width: 100%;
    height: 100%;
}
.section {
    padding: 4rem 0 1rem;
    text-align: center;
}
.section-subtitle {
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}



/* ------------------------------scroll button--------------------------------- */
.btn-scroll {
    position: fixed;
    right: 40px;
    bottom: 80px;
    color: var(--clr-blue);
    cursor: pointer;
    transition: .3s;
    background-color: white;
    border-radius: .5rem;
}
.btn-scroll:hover {
    color: #427fef;
}




/* ------------------------------home--------------------------------- */
/* SOCIAL ICONS */
.social-icons {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.social-icon {
    font-size: 1.5rem;
}
.social-icon:hover {
    color: var(--clr-blue);
}


/* HOME */
.home {
    height: 90vh;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: .5fr 3fr;

    padding-top: 3.5rem;
    align-items: center;
    margin-bottom: 4rem;
}
.home-text {
    grid-column: 1/3;
}
.home p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.scroll-text {
    display: none;
}

.home-img,
.about-img {
    max-width: 300px;
}
.mask {
    mask-image: url('./assets/mask-3.png');
    mask-size: contain;
    mask-position: top;
    mask-repeat: no-repeat;

    -webkit-mask-image: url('./assets/mask-3.png');
    -webkit-mask-repeat: no-repeat;
}


/* for medium devices */
@media screen and (min-width: 700px) {
    h1 {
        font-size: xx-large;
    }
    .home {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home-text {
        grid-column: initial;
    }
    .home-img {
        order: 1;
        justify-self: center;
        max-width: 500px;
        margin-bottom: 5rem;
    }
    .scroll-text {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 2rem;
        transition: .3s;
    }
    .scroll-text:hover {
        transform: translateY(.5rem);
    }
}

/* for big devices */
@media screen and (min-width: 1024px) {
    .social-icons {
        /* transform: translateX(6rem); */
        padding-right: 6rem;
    }
    h1 {
        font-size: 40px;
    }
}





/* ------------------------------about--------------------------------- */
.about-img {
    max-width: 300px;
    align-self: center;
    justify-self: center;
}
.about-text {
    align-self: center;
}
.about-desc {
    margin-bottom: 2.5rem;
}
.number-display {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 2.5rem;
}

/* for small devices */
@media screen and (max-width: 350px) {
    .number-display p {
        font-size: small;
    }
}
/* for medium devices */
@media screen and (min-width: 568px) {
    .about .grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: start;
    }
    .number-display {
        text-align: center;
    }
    .about-text {
        max-width: 500px;
    }
    .about-img {
        max-width: 500px;
    }
}





/* ------------------------------portfolio--------------------------------- */
.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 0 auto;
}
.portfolio-card {
    border-radius: .5rem;
}
.portfolio-card img {
    height: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.323);
    border-radius: .5rem;
}
.portfolio-text {
    text-align: start;
    padding-inline: 1rem;
}
.knowledge-info {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
}
.knowledge-patch {
    background-color: #7BA3ED;
    color: white;
    padding: 5px 10px;
    border-radius: .3rem;
}
.knowledge-patch:hover {
    background-color: #427fef;
    cursor: default;
}

/* @media screen and (min-width: 568px) { */
@media screen and (min-width: 700px) {
    .portfolio-wrapper {
        grid-template-columns: 1fr 1fr;
        max-width: 1300px;
    }
}







/* ------------------------------skills--------------------------------- */
.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.skills-wrapper img {
    width: 100%;
    height: auto;
    max-width: 100px;
}
@media screen and (min-width: 1000px) {
    #kunskaper {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .skills-wrapper {
        gap: 5rem;
    }
}





/* ------------------------------footer--------------------------------- */
.footer {
    margin-block: 5rem;
    border-top: 2px solid var(--clr-blue);
    padding-top: 2rem;
    text-align: left;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    margin-top: 2rem;
}
.footer-right-section a {
    padding: .5rem;
}
.footer-right-section a:hover {
    color: var(--clr-blue);
}

/* for big devices */
@media screen and (min-width: 1024px) {
    .footer {
        padding-top: 5rem;

        grid-template-columns: 1fr 400px .5fr;
        align-items: center;
        gap: 0;
        text-align: center;
    }
    .footer-center-section {
        text-align: start;
    }
    .contact-info {
        justify-content: left;
    }
    .footer-right-section {
        display: grid;
    }
}




/* FOOTERS COPY MESSAGE */
.btn-copy {
    padding: .5rem 0;
    position: relative;
    display: inline-block;
}
.btn-copy:hover {
    cursor: pointer;
}
.hover-btn-msg {
    display: none;
    position: absolute;
    background-color: var(--clr-blue);
    bottom: -2rem;
    right: -4rem;
    padding: .2rem .5rem;
    border-radius: .2rem;
    color: white;
}
.hover-btn-msg:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid var(--clr-blue);
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--clr-blue);
    border-top: 5px solid transparent;
    left: 10px;
    top: -10px;
}
.btn-copy:hover .hover-btn-msg {
    display: block;
}



