:root {
    --clr-blue: #7BA3ED;
}
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Hairline&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Aboreto', cursive;
    color: white;
    background-color: rgb(9, 9, 9);
}
.container {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 60px;
}




/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    height: 10vh;
}
.navbar a {
    padding: .5rem 1rem;
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    color: var(--clr-blue);
}
.nav-icons {
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
}
.nav-icon {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    cursor: pointer;
    font-size: x-large;
}
.nav-icon:hover {
    color: var(--clr-blue);
}

/* NAVBAR - LANGUAGE MODAL... */
.dropdown-globe,
.dropdown-music {
    position: relative;
    display: inline-block;
}
.language-modal {
    display: none;
    position: absolute;
    z-index: 20;
    top: 4.5rem;
    right: 27px;

    border-radius: .5rem 0 .5rem .5rem;
    background-color: rgba(0, 0, 0, 0.602);
}
.dropdown-globe:hover .language-modal,
.dropdown-music:hover .music-modal {
    display: block;
}
.language-modal:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid rgba(0, 0, 0, 0.602);
    border-left: 12px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, 0.602);
    border-top: 20px solid transparent;
    left: 91px;
    bottom: 99px;
}
.line {
    background-color: rgba(245, 245, 245, 0.297);
    height: 1px;
}
.language-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    color: whitesmoke;
}
.he:hover {
    background-color: #7BA3ED;
    border-radius: .5rem 0 0 0;
}
.hs:hover {
    background-color: #7BA3ED;
    border-radius: 0 0 .5rem .5rem;
}
.language-option p {
    font-size: 16px;
}
.language-option img {
    width: 25px;
    height: 25px;
}

/* NAVBAR - MUSIC MODAL */
.music-modal {
    display: none;
    position: absolute;
    z-index: 20;
    top: 4.5rem;
    right: 27px;
    border-radius: .5rem 0 .5rem .5rem;
    background-color: rgba(0, 0, 0, 0.602);

    padding: 30px;
    width: 320px;
    color: whitesmoke;
}
.music-modal:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid rgba(0, 0, 0, 0.602);
    border-left: 12px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, 0.602);
    border-top: 20px solid transparent;
    left: 284px;
    top: -32px;
}
.music-record {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.2rem;
}
.music-record img {
    width: 80px;
    height: 80px;
}
.music-record-text strong {
    font-size: 18px;
}
.music-record-text small {
    font-size: 15px;
}
.music-player-play {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}
.music-player-volume {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;
}
.volume-line {
    height: 3px;
    width: 100%;
    background-color: whitesmoke;
}
.hi:hover {
    color: black;
}





/* SOCIAL ICONS */
.social-icons {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 2rem;
    margin-left: 4rem;
    margin-top: 40vh;
}
.social-icon {
    font-size: 1.5rem;
}
.social-icon:hover {
    color: var(--clr-blue);
}




/* HOME */
.home {
    height: 90vh;
    display: flex;
    width: 100%;
}
.home-text {
    width: 80%;
    margin-top: 35vh;
}
.stor-text {
    color: #7BA3ED;
    font-size: 100px;
}
.d-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.nav-git {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-size: 2rem;
    color: black;
}
.nav-in {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-size: 2rem;
    color: black;
}


/* PORTFOLIO */
.portfolio-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}
.portfolio {
    width: 90%;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.portfolio-mini-text {
    color: var(--clr-blue);
    margin-top: 10px;
}
.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.portfolio-item {
    width: auto;
    height: auto;
    box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.144);
    position: relative;
}
.portfolio-item img {
    height: 100%;
    width: 100%;
}
.portfolio-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.834);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem 2rem 4rem 2rem;
    text-align: center;
    line-height: 25px;
}
.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}
.btn-visit {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: .8rem;
}
.btn-visit:hover {
    color: var(--clr-blue);
}



/* CONTACT */
.contact {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}
.contact-text {
    width: 40%;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.contact-text h3 {
    margin-top: 1rem;
    color: var(--clr-blue);
}


.contact-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 30vh;
}
.contact .mask {
    mask-image: url('./assets//Twitter-logo.svg.png');
    mask-size: 20rem;
    mask-repeat: no-repeat;
  
    -webkit-mask-size: 100%;
    -webkit-mask-image: url('./assets/Twitter-logo.svg.png');
    -webkit-mask-repeat: no-repeat;
}







/* BLOG */
.blog-text {
    margin-left: 14.5%;
    width: 40%;
    margin-top: 30vh;
}
.blog-list {
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* post */
.post {
    display: flex;
    gap: 3rem;
}
.post-text {
    width: 50%;
    height: 100%;
    border: 2px solid var(--clr-blue);
    border-radius: 5px;
    padding: 2rem;
    line-height: 25px;
}
.post-text small {
    color: var(--clr-blue);
}
.post-img {
    width: 50%;
    text-align: end;
    position: relative;
    border-radius: 5px;
}
.post-img small {
    position: absolute;
    right: 0;
    top: -1.4rem;
    color: gray;
}
.post-img img {
    width: 100%;
    border: 1px solid blue;
}